XP.toc
XP.synctex.gz
XP.snm
XP.out
XP.nav
XP.log
XP.fls
XP.fdb_latexmk
XP.aux
Quentin.aux
Mouhamadou.aux
Steve.aux
Mélissa.aux
Marie.aux
XP-blx.bib
XP.bcf
XP.run.xml
XP.bbl
XP.blg
XP.tex
XP.pdf
XP.synctex(busy)
